---
import MainLayout from "../layouts/MainLayout.astro";
import { Link } from "lucide-react";
---

<MainLayout title="Keynote">
    <main
        class="text-2xl my-8 flex items-center justify-center flex-col text-center"
    >
        <h1 class="text-blue-800 text-3xl mb-8" data-aos="fade-up">KEYNOTE SPEAKERS</h1>
        <div
            class="flex flex-col px-5 md:px-[3vh] lg:px-[12vh] xl:px-[32vh] space-y-10"
        >
            <div class="flex flex-col md:flex-row space-x-4">
                <div class="md:w-1/2 flex items-center justify-center" data-aos="fade-up">
                    <img
                        src="https://discovery.bits-pilani.ac.in/ICAEF2023/img/patrons/V-Ramgopal-Rao.jpg"
                        alt="prof"
                        class="px-10 py-5 bg-white max-w-[324px] lg:max-w-[384px] h-auto rounded-2xl"
                    />
                </div>
                <div class="md:w-1/2 flex flex-col justify-center items-center" data-aos="fade-up">
                    <h1 class="text-2xl mt-4">Prof. Sanjay Kallapur</h1>
                    <h2 class="text-blue-600 text-xl mb-2">ISB, Hyderabad</h2>
                    <p class="text-lg text-left">
                        Professor Sanjay Kallapur joined the Indian School of
                        Business in 2005 from the Krannert School of Management,
                        Purdue University, where he was a tenured associate
                        professor. He has also taught at Harvard University, the
                        University of Arizona, Hong Kong University of Science
                        and Technology, University of California at Irvine, and
                        the National University of Singapore.
                    </p>
                    <p class="text-lg text-left">
                        Professor Kallapur conducts research on financial and
                        managerial accounting, auditing, and risk management. He
                        has published in each of the top three accounting
                        journals and his papers have been cited over 3,000 times
                        (Google Scholar) and in regulatory policy documents in
                        India and the UK. He is currently working on scientific
                        inference in accounting research beyond the use of
                        p-values.
                    </p>
                    <p class="text-lg text-left">
                        He has been an editor of <i> The Accounting Review</i>
                         from 2008 to 2011, the first person from outside North
                        America to be appointed to that position. He has served
                        as an ad-hoc reviewer for almost all the major
                        accounting journals, and is on the editorial boards of
                        the Journal of Accounting and Public Policy, and the
                        Journal of Financial Reporting.
                    </p>
                    <p class="text-lg text-purple-800 mt-3">
                        <a
                            href="https://www.isb.edu/en/research-thought-leadership/faculty/faculty-directory/sanjay-kallapur.html"
                            target="_blank"
                            class="flex"
                        >
                            <Link size={12}/>   
                            For more information, click here
                        </a>
                    </p>
                </div>
            </div>
            <div class="flex flex-col md:flex-row space-x-4">
                <div class="md:w-1/2 flex items-center justify-center" data-aos="fade-up">
                    <img
                        src="https://www.mobilityindia.com/wp-content/uploads/2022/01/G.sundar-2-450x369.jpg"
                        alt="prof"
                        class="px-10 py-5 bg-white max-w-[324px] lg:max-w-[384px] max-h-auto rounded-2xl"
                    />
                </div>
                <div class="md:w-1/2 flex flex-col items-center justify-center" data-aos="fade-up">
                    <h1 class="text-2xl mt-4">Prof. Abhiroop Mukhopadhyay</h1>
                    <h2 class="text-blue-600 text-xl mb-2">ISI Delhi</h2>
                    <p class="text-lg text-left">
                        Prof. Abhiroop Mukhopadhyay is a professor in Indian
                        Statistical Institute-Delhi Centre. He holds other
                        visiting and Honorary Research Positions from various
                        institutions like Ashoka University, University of
                        Connecticut, IIM Bangalore, Chr. Michelson Institute,
                        Bergen, Global labour organisation, Institute for the
                        study of labour, Bonn, London School of Economics,
                        University of Carlos 3, Madrid, and Groupement de
                        Recherche en Economie Quantitative d'Aix Marseille
                        (GREQAM).
                    </p>
                    <p class="text-lg text-left">
                        His primary specialization is in econometric methods
                        applied to topics in the field of education in
                        developing countries (in particular, India). Recent
                        topics of research include the impact of better school
                        infrastructure on rural schooling attendance, how to
                        design teacher transfer programs and the impact of the
                        distribution of human capital on growth and development.
                        Some of his research focuses on issues related to public
                        policy: in particular, the National Rural Employment
                        Guarantee Scheme (NREGS)- a big public workfare program
                        in India; the political economy of it's implementation
                        and the effects of NREGS on education and borrowing. He
                        has also worked on issues related to health: the
                        economic effects of HIV-AIDS and Cancer.
                    </p>
                   
                    <p class="text-lg text-purple-800 mt-3">
                        <a
                            href="https://sites.google.com/view/abhiroop/home"
                            target="_blank"
                            class="flex"
                        >
                        <Link size={12}/>
                            For more information, click here
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </main>
</MainLayout>
