---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Registration">
    <div
        class="my-8 flex text-2xl flex-col items-center justify-center px-3 sm:px-5 lg:px-36 md:px-20 font-medium"
    >
        <p class="my-8">
            Registration Link: The registration Link will be updated after
            January 10, 2024.
        </p>
        <p class="my-4">
            Registration Fees:
        </p>
        <div>
            <p class="text-xl">
                Research scholar/ Student- 1000 INR + 18% GST <br />
            </p>
            <p class="text-xl">
                Faculty/ Industry professional/ Others - 3000 INR + 18% GST <br />
            </p>
        </div>
        <p class="mt-6 text-xl">
            Payment Link: The payment link will be updated after January 10,
            2024.
        </p>
    </div>
</MainLayout>
