---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Registration">
    <div class="my-8 flex text-2xl flex-col items-center justify-center px-3 sm:px-5 lg:px-36 md:px-20 font-medium">
        <p>
            Research scholar/ Student- 1000 INR + 18% GST <br>
        </p>
        <p>
            Faculty/ Industry professional/ Others - 3000 INR + 18% GST <br>
        </p>
        <p class="text-lg mt-6">
            The payment link shall be updated soon.
        </p>
    </div>
</MainLayout>