---
import MainLayout from "../layouts/MainLayout.astro";
import { Link } from "lucide-react";
---

<MainLayout title="Keynote">
    <main
        class="text-2xl my-8 flex items-center justify-center flex-col text-center font-medium"
    >
        <h1 class="text-blue-800 text-3xl mb-8" data-aos="fade-up">SPEAKERS</h1>
        <div
            class="flex flex-col px-5 md:px-[3vh] lg:px-[12vh] xl:px-[32vh] space-y-10"
        >
            <div class="flex flex-col md:flex-row space-x-4">
                <div class="md:w-1/2 flex items-center justify-center" data-aos="fade-up">
                    <img
                        src="https://www.isb.edu/content/dam/sites/isb/research-thought-leadership/faculty/352x234/Sanjay-Kallapur-352x234.jpg"
                        alt="prof"
                        class="px-10 py-5 bg-white max-w-[324px] lg:max-w-[384px] h-auto rounded-2xl"
                    />
                </div>
                <div class="md:w-1/2 flex flex-col justify-center items-center" data-aos="fade-up">
                    <h1 class="text-2xl mt-4">Prof. Sanjay Kallapur</h1>
                    <h2 class="text-blue-600 text-xl mb-2">ISB, Hyderabad</h2>
                    <p class="text-lg text-left">
                        Professor Sanjay Kallapur joined the Indian School of
                        Business in 2005 from the Krannert School of Management,
                        Purdue University, where he was a tenured associate
                        professor. He has also taught at Harvard University, the
                        University of Arizona, Hong Kong University of Science
                        and Technology, University of California at Irvine, and
                        the National University of Singapore.
                    </p><br>
                    <p class="text-lg text-left">
                        Professor Kallapur researches on financial and
                        managerial accounting, auditing, and risk management. He
                        has published in each of the top three accounting
                        journals and his papers have been cited over 3,000 times
                        (Google Scholar) and in regulatory policy documents in
                        India and the UK. He is currently working on scientific
                        inference in accounting research beyond the use of
                        p-values.
                    </p><br>
                    <p class="text-lg text-left">
                        He has been an editor of <i> The Accounting Review</i>
                         from 2008 to 2011, the first person from outside North
                        America to be appointed to that position. He has served
                        as an ad-hoc reviewer for almost all the major
                        accounting journals, and is on the editorial boards of
                        the Journal of Accounting and Public Policy, and the
                        Journal of Financial Reporting.
                    </p><br>
                    <p class="text-lg text-purple-800 mt-3">
                        <a
                            href="https://www.isb.edu/en/research-thought-leadership/faculty/faculty-directory/sanjay-kallapur.html"
                            target="_blank"
                            class="flex"
                        >
                            <Link size={12}/>   
                            For more information, click here
                        </a>
                    </p>
                </div>
            </div>
            <div class="flex flex-col md:flex-row space-x-4">
                <div class="md:w-1/2 flex items-center justify-center" data-aos="fade-up">
                    <img
                        src="https://www.idsj.org/wp-content/uploads/2023/09/vinish.jpg"
                        height = "234px"
                        width = "352px"
                        alt="prof"
                        class="px-10 py-5 bg-white max-w-[324px] lg:max-w-[384px] h-auto rounded-2xl"
                    />
                </div>
                <div class="md:w-1/2 flex flex-col items-center justify-center" data-aos="fade-up">
                    <h1 class="text-2xl mt-4">Dr Vinish Kumar Kathuria</h1>
                    <h2 class="text-blue-600 text-xl mb-2">IDS Jaipur</h2>
                    <p class="text-lg text-left">
                        Dr Vinish Kumar Kathuria, Director of the Institute 
                        of Development Studies (IDS), Jaipur, is an alumnus 
                        of NIT Kurukshetra. He is on lien from the Indian Institute
                        of Technology (IIT) Bombay, where he was Shailesh J. Mehta, 
                        Chair Professor at SJMSOM of IIT Bombay. He is in the teaching 
                        and research profession since 1998 after his PhD in Economics from IGIDR, 
                        an RBI funded institute. At IIT Bombay, he was Professor-in-charge (PIC) 
                        of Bank of Baroda Innovation Centre (BoBIC) from Nov. 2019 to Sep. 2023.                    
                        </p><br>
                    <p class="text-lg text-left">
                       His teaching and research interests are in Macroeconomics, 
                    Industrial, Environment and Energy Economics. Before joining
                 IIT Bombay, he was on a Fulbright Senior Researcher fellowship
                  at the University of Colorado, Boulder (USA). His
                   publications are in several reputed international journals including
                    Research Policy, Applied Economics, Energy Policy, Journal of
                     Development Studies, Journal of Comparative Economics,
                      World Development, Oxford Economic Papers,
                       Ecological Economics, among others.
                    </p><br>
                    <p class="text-lg text-left">
                    He has pursued his post-doc from the University of Gothenburg, 
                    Sweden, in the area of Environmental Economics and
                    a PhD internship from UNU/INTECH, Maastricht, The Netherlands
                    . UNESCO short-listed his thesis for its Management of
                    Social Transformation (MOST) award in 2000-01
                    . In 2012, he was awarded the Mahalanobis Memorial Medal
                    (National) Award 2010 in the area of
                    Quantitative Economics by The Indian Econometric Society
                    (TIES). In a recent paper in 2016, he was ranked as the top
                    researcher in economics among all business school researchers in 
                    the country and featured in the top 5% of researchers of business schools
                    across India. In December 2015, the NIT Kurukshetra Alumni Association 
                    awarded him the ‘Distinguished Alumnus Award’ in the field of Education.
                    He has also served as a Member of the Standing Committee on Economics 
                    Statistics, Ministry of Statistics and Programme Implementation (MoSPI),
                    GoI from Dec. 2019 to Nov. 2022.
                    </p><br>
                   
                    <p class="text-lg text-purple-800 mt-3">
                        <a
                            href="https://www.idsj.org/faculty-category/faculty/"
                            target="_blank"
                            class="flex"
                        >
                        <Link size={12}/>
                            For more information, click here
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </main>
</MainLayout>
