---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Submissions">
    <main
        class="flex flex-col px-5 md:px-[3vh] lg:px-[12vh] xl:px-[32vh] space-y-10 my-8 font-medium"
    >
        <div>
            <h1
                class="text-3xl text-blue-800 my-4 ml-3 lg:ml-0"
                data-aos="fade-up"
            >
                SUBMISSION GUIDELINES
            </h1>
            <div
                class="pt-1 px-8 pb-9 bg-neutral-100 rounded-2xl"
                data-aos="fade-up"
            >
                <p class="text-2xl my-8 font-medium">
                    <ol class="text-lg">
                        <li>
                            1. Each author can submit only one paper; however,
                            they can be co-authors of multiple papers.
                        </li>
                        <li>
                            2. Papers that can’t be accommodated in the
                            technical sessions will be considered for poster
                            session. Authors need to indicate whether they would
                            want their papers to be considered for the poster
                            session at the time of submission.
                        </li>
                        <li>
                            3. Submitted papers must be unpublished and original
                            work.
                        </li>
                        <li>
                            4. Please submit a pdf version of the paper only.
                        </li>
                        <li>
                            5. Please use the link to submit your paper. The
                            papers submitted through other channels will not be
                            considered.
                        </li>
                    </ol>
                </p>
            </div>
            <!-- <h1
                class="text-3xl text-blue-800 my-4 ml-3 lg:ml-0"
                data-aos="fade-up"
            >
                SUBMISSION OF ABSTRACT
            </h1>
            <div
                class="pt-1 px-8 pb-9 bg-neutral-100 rounded-2xl"
                data-aos="fade-up"
            >
                <p class="text-xl my-8">
                    The extended abstract (of not more than 350 words as per the
                    submission guidelines) will be sent to the following email
                    id:

                    <span class="text-blue-800 hover:underline">
                        acef@bits-pilani.ac.in.
                    </span>
                    <p>
                        Note that your extended abstract has to be an original
                        research work that has not been presented or published
                        anywhere before.
                    </p>
                </p>
            </div> -->
            <h1
                class="text-3xl text-blue-800 my-4 ml-3 lg:ml-0"
                data-aos="fade-up"
            >
                SUBMISSION OF FULL PAPER
            </h1>
            <div
                class="pt-1 px-8 pb-9 bg-neutral-100 rounded-2xl"
                data-aos="fade-up"
            >
                <p class="text-xl my-6">
                    Before submitting the full paper, read the following terms
                    and conditions. Submission of full paper means you agree to
                    the following terms and conditions.
                </p>
                <ol class="text-lg mt-2">
                    <li>
                        &gt; The corresponding author shall be the sole
                        correspondent with the conference office on all matters
                        related to this submission. In the event of acceptance
                        of full paper, no substantial changes to the content and
                        order of authorship will be allowed.
                    </li>
                    <li>
                        &gt; It is mandatory to mention the name of all persons
                        who have contributed or have substantively edited the
                        submitted work.
                    </li>
                    <li>
                        &gt; Author(s) are requested to mention all possible
                        conflicts of interest, whether or not directly related
                        to the subject of the paper, in the appropriate section
                        of the manuscript.
                    </li>
                    <li>
                        &gt; Before submission, all authors are requested to
                        ensure that there is no plagiarism, fabrication,
                        duplication of data or scientific misconduct in the
                        submitted document.
                    </li>
                </ol>
                <p class="my-4 text-xl font-medium">Important Dates</p>
                <ol class="mt-2">
                    <li>Last date for paper submission: January 03, 2024</li>
                    <li>
                        Communication of acceptance of paper: January 10, 2024
                    </li>
                    <li>Last date for registration: January 25, 2024</li>
                    <li>Conference dates: February 8-9, 2024</li>
                </ol>
            </div>
            <h1
                class="text-3xl text-blue-800 my-4 ml-3 lg:ml-0"
                data-aos="fade-up"
            >
                SUBMISSION LINK
            </h1>
            <div
                class="pt-1 px-8 py-9 bg-neutral-100 rounded-2xl"
                data-aos="fade-up"
            >
                <p class="mt-8">
                    <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSfmzCPg_55LPN8dmu3yU9lgiG5or0C7aNLa8z7AKYNpfctrlA/viewform"
                        class="text-blue-800 hover:text-purple-400"
                        target="_blank"
                    >
                        ACEF 2024 Submission Link
                    </a>
                </p>
            </div>
            <h1
                class="text-3xl text-blue-800 my-4 ml-3 lg:ml-0"
                data-aos="fade-up"
            >
                POST ACCEPTANCE
            </h1>
            <div
                class="pt-1 px-8 pb-9 bg-neutral-100 rounded-2xl"
                data-aos="fade-up"
            >
                <p class="my-4 text-lg">
                    The selected candidates will have to register for the
                    conference.
                </p>
                <p class="my-4 text-lg">
                    Registration Link: The registration Link will be updated
                    after January 10, 2024.
                </p>
                <p class="text-lg">
                    Research scholar/ Student- 1000 INR + 18% GST <br />
                </p>
                <p class="text-lg">
                    Faculty/ Industry professional/ Others - 3000 INR + 18% GST <br
                    />
                </p>

                <p class="my-4 text-2xl font-medium">Travel and accomodation</p>
                <p>
                    Presenting authors without sufficient funding opportunities
                    may apply for travel grants. We support roundtrip 3<sup
                        >rd</sup
                    > AC train fare by the shortest route for the presenting
                    author. The conference organizers will take care of the
                    accommodation and food for the presenting author during the
                    two days of the conference.
                </p>
                <p class="my-4 text-2xl font-medium">Mode of the conference</p>
                <p>
                    Conference will be held in-person at the Department of
                    Economics and Finance, BITS Pilani, Hyderabad Campus.
                </p>
            </div>
        </div>
    </main>
</MainLayout>
