---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <main class="flex flex-col px-5 md:px-[3vh] lg:px-[12vh] xl:px-[32vh] space-y-10 mt-8">
        <div>
            <h1 class="text-3xl text-blue-800 mb-4 ml-3 lg:ml-0">
                SUBMISSION OF ABSTRACT
            </h1>
            <div class="pt-1 px-8 pb-9 bg-neutral-100 rounded-2xl">
                <p class="text-2xl my-8 ">
                    Submissions guidelines
    
                    <ol class="text-lg">
                        <li>
                            1.  	Each author can submit only one paper; however, they can be co-authors of multiple papers.
    
                        </li>
                        <li>
                            2.  	Papers that can’t be accommodated in the technical sessions will be considered for poster sessionn. Authors need to indicate whether they want their papers to be considered for the poster session at the time of submission.
    
                        </li>
                        <li>
                            3.  	Submitted papers must be unpublished.
                        </li>
                        <li>
                            4.  	Please submit a pdf version of the paper only.
    
                        </li>
                        <li>
                            5.  	Please use the link to submit your paper.
                        </li>
                    </ol>
    
     <!-- <<Insert google form link/ if website can be developed that will be better>> -->
    
                </p>
            </div>
            
        </div>
    </main> 
</MainLayout>