---
const today = new Date();
---

<footer class="bg-blue-900 w-full flex-col items-center justify-center px-5 py-10 text-slate-200">
	<div class="text-center ">
		&copy; {today.getFullYear() + "-" + (today.getFullYear() + 1)}
		International Conference on Applied Economics and Finance (ICAEF2024).
		All rights reserved.
	</div>
	<div class="flex flex-col md:flex-row md:justify-between space-y-10">
		<div class="mt-10 md:w-[50%]">
			<h1 class="text-2xl mb-4">About ICAEF 2024</h1>
			<p>
				The conference aims to bring academicians, young researchers,
				policy analysts, and industry experts to share their experiences
				and research findings on the problems, issues, prospects, and
				challenges in the diversified field of Economics and Finance,
				specifically on the diversities that emerged in the last two
				decades.
			</p>
		</div>
		<div class="md:w-[50%] md:flex md:flex-col md:items-center md:justify-center">
			<h1 class="text-2xl mb-4">
				Quick links
			</h1>
			<p>
				<li class=' list-none font-thin list-arrow'>
					<ul class=''>
						<a class="hover:text-slate-400" href="/"> &gt; Home</a>
					</ul>
					<ul class=''>
						<a class="hover:text-slate-400" href="/about">&gt; About</a>
					</ul>
					<ul class=''>
						<a class="hover:text-slate-400" href="/leadership">&gt; Leadership</a>
					</ul>
					<ul class=''>
						<a class="hover:text-slate-400" href="/keynote">&gt; Keynote</a>
					</ul>
					<ul class=''>
						<a class="hover:text-slate-400" href="/submissions">&gt; Submission</a>
					</ul>
					<ul class=''>
						<a class="hover:text-slate-400" href="/contact">&gt; To Contact</a>
					</ul>
				</li>
			</p>
		</div>
		<div>

		</div>
	</div>
	<img src="bits.gif" alt="bits">

</footer>

