---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="fixed w-full">
	<nav>
		<div class="flex justify-between py-3 px-4 h-16 bg-slate-300 rounded-b-md">
			<a href="/">
				<img src="Logo1.png" width={150} height={150} alt="logo">
			</a>
			<div class="py-2 space-x-4 text-xl ">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
				<HeaderLink href="/leadership">Leadership</HeaderLink>
				<HeaderLink href="/keynote">Keynote</HeaderLink>
				<HeaderLink href="/submission">Submission</HeaderLink>
				<HeaderLink href="/contact">To Contact</HeaderLink>
			</div>
			<div>
				<img src="g20.png" width={90} alt="g20">
			</div>
		</div>
	</nav>
</header>

