---
import BaseHead from "../components/BaseHead.astro";
import Navbar from '../components/navbar'
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

type Props = {
    title? : string,
    description? : string,
}

const {title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props as Props
import {ViewTransitions} from 'astro:transitions'

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
        <ViewTransitions/>
	</head>
	<body>
		<script>
			import AOS from 'aos'
			import 'aos/dist/aos.css';
			AOS.init({ duration: 800, easing: "ease-out-cubic", once: true, offset: 50 });
		</script>
		<Navbar client:visible />	
		<div class="pt-16">
			<img src="team.png" class="aspect-w-16 aspect-h-9" alt="" />       
		<slot>
            Economics Conference website
        </slot>
		</div>
		<Footer />		
	</body>
</html>
